body {
  overflow-x: hidden;
  padding-left: 200px;
}
header {
  width: 200px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #ccc;
}
header div.wrap {
  width: auto;
  height: 100%;
  padding: 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
header div.wrap h1 {
  
  order: 2;
}
header div.wrap h1 a {
  
}
header div.wrap ul.gnb {
  
  order: 3;
}
header div.wrap ul.gnb li {
  
}
header div.wrap ul.gnb li a {
  
  font-size: 14px;
}
header div.wrap ul.enb {
  
  order: 1;
  display: flex;
  font-size: 14px;
  justify-content: space-around;
}
header div.wrap ul.enb li {
  
}
header div.wrap ul.enb li a {
  line-height: 1.5;
  display: block;
}

#title{
  height: 800px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(1, #ffffff));
  background: -moz-linear-gradient(top, #000000 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #000000 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #000000 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #000000 0%, #ffffff 100%);
  background: linear-gradient(top, #000000 0%, #ffffff 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff', gradientType=0);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title .wrap .main-heading-wrapper {
  
}

#title .wrap .main-heading-wrapper h2 {
  position: relative;
  z-index: 1;
  margin-right: 0px;
  margin-left: 0px;
  color: black;
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
}

#title .wrap .main-heading-wrapper h2.without-code {
  color: white;
}
main {
  height: 300%;
  transition: all 0.5s;
}

main section#basic {
  
}

main section#basic div.wrap {
  
}

main section#basic div.wrap article {
  
}

main section#basic div.wrap article h2 {
  
}

main section#basic div.wrap article > p {
  
}

main section#basic div.wrap article ul.list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  margin-top: 30px;
}

main section#basic div.wrap article ul.list li {
  width: calc(100% /2);
  padding: 0 20px;
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: all 0.5s;
}

main section#basic div.wrap article ul.list li:nth-child(2n+1) {
  border-right: 1px solid lightgray;
}

main section#basic div.wrap article ul.list li a {
  
}

main section#basic div.wrap article ul.list li a h3 {
  background-color: lightgray;
  line-height: 1.3;
  padding-left: 15px;
  font-size: 35px;
}

main section#basic div.wrap article ul.list li a p {
  
}
/* 활용 */
#use .slick {
  
  width: 100%;
}
#use .slick .slic {
  
}
#use .slick .slic li {
  
  height: 100px;
}

#use .slick .slic li.slic1 {
  background-color: lightgray;
}
#use .slick .slic li.slic2 {
  background-color: darkgray;
}
#use .slick .slic li.slic3 {
  background-color: gray;
}




main section {
  height: calc(100% / 3);
  border: 2px solid;
  box-sizing: border-box;
}

aside {
  position: absolute;
  top: 30px;
  right: -200px;
  width: 200px;
  min-height: 300px;
  background-color: lightgray;
  transition: all 1s;
}
aside button {
  all: unset;
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 80px;
  background-color: lightgray;
  background-image: url(../img/leftarrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}
.current {
  background-color: black;
}
.current a {
  color: white !important;
}
.buttonreverse {
  background-image: url(../img/rightarrow.svg);
}
.asideshow {
  right: 0 !important;
}
.ju {
  background-color: white;
}
.ya {
  background-color: gray;
}
footer a.scrolltop {
  
  position: fixed;
  background-size: 75%;
  width: 55px;
  height: 55px;
  font-size: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  bottom: 25px;
  right: 25px;
  border: 2px solid black;
  border-radius: 100%;
  background-image: url(../img/btop.svg);
}
.select {
  border-color: black;
}
#skill .wrap{
  text-align: center;
}